{{define "flashes"}}
{{ if .notice }}
<div class="flash message notice">
  {{ template "information-circle.svg" }}
  {{ .notice }}
</div>
{{ end }}
{{ if .alert }}
<div class="flash message alert">
  {{ template "exclamation-triangle.svg" }}
  {{ .alert }}
</div>
{{ end }}
{{end}}
