@import "tailwindcss";

@theme {
  --color-alces-blue: #2794d8;
  --color-alces-blue-light: #DCEEF5;
  --color-alces-blue-dark: #0E68A0;
}

@font-face {
  font-family: Lexend;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/Lexend-Light.ttf") format("truetype");
}

@font-face {
  font-family: Lexend;
  font-style: bold;
  font-weight: 700;
  src: url("/assets/fonts/Lexend-Bold.ttf") format("truetype");
}

body {
  @apply font-[Lexend] text-slate-700;
}

h1 {
  @apply font-normal text-slate-500 text-3xl;
}

h2 {
  @apply font-normal text-slate-500 text-2xl;
}

.flash {
  @apply absolute top-18 right-[calc(1rem+5vw)] lg:right-[calc(1rem+15vw)] flex gap-x-3 border rounded py-2 px-4 z-10;

  &.alert {
    @apply text-red-500 border-red-200 bg-red-50;
  }

  &.notice {
    @apply text-alces-blue border-alces-blue-light bg-sky-50;
  }
}

.form {
  @apply flex flex-col gap-y-4 items-start w-full mx-auto;
}

.text-field {
  @apply w-full text-start;

  input {
    @apply border-b border-alces-blue w-full py-2 px-2;

    &:focus {
      @apply outline-none bg-alces-blue-light;
    }
  }

  label, em {
    @apply text-zinc-500 text-xs;
  }

  .field-help {
    @apply text-zinc-500 text-xs italic;
  }

}

.btn {
  @apply rounded py-2 px-4 mb-4 cursor-pointer text-white bg-alces-blue hover:bg-alces-blue-dark focus:bg-alces-blue-dark focus:outline-none focus-visible:outline-none;
}
