# Symlinks created by the managed cluster hook when the Flight environment is
# activated.
#
# Each line is of the format: <link_name>=<target>.  The placeholders $HOME and
# $USER will be substitued with the user's home directory and the user's login
# name respectively.
#
# Blank lines and lines starting with '#' will be ignored.

$HOME/scratch=/scratch/$USER
